<%- include('../includes/head.ejs') %>   
    <body class="yellow-text text-darken-2 background grey darken-4 ">
    <nav>
        <div class="nav-wrapper  pink darken-4">
        <a href="#" class="brand-logo">
            <a class="btn pink darken-2" href="http://localhost:3000/papu/bar">
                Regresar al bar</a>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        </ul>
        </div>
    </nav>
    <div class = "container">

        <% if (cliente === "Cerveza") {%>
            <h2>Aquí tiene su <%= cliente %></h2>
            <img src="https://lalicorera.com/img/products/Corona-extra.png" 
            width="200" heigth= "200" alt="cerveza">

        <% } else if (cliente === "Vino") {%>
            <h2>Aquí tiene su <%= cliente %></h2>
            <img src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/3711.png" 
            width="70" heigth= "70" alt="vino">

        <% } else if (cliente === "Tequila") {%>
            <h2>Aquí tiene su <%= cliente %></h2>
            <img src="https://i0.wp.com/distrigal.com/wp-content/uploads/2021/08/tequila-azteca1.png?fit=600%2C600&ssl=1" 
            width="200" heigth= "200" alt="tequila">

        <% } else {  %>
            <h2>No tenemos de eso hermano</h2>
            <img src="media/triste.jpg" 
            width="200" heigth= "200" alt="triste">
        <% } %>
        


        <% if (clientes.length > 0) { %>
            <div class="collection">
                <% for (let g of clientes) { %>
                    
                    <a href="#!" class="collection-item"><%= g.nombre %></a>
                <% } %>
                </div>
        <% } else { %>
            <h2>No hay ordenes</h2>
        <% } %>  

    </div>

<%- include('../includes/foot.ejs') %>
